{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="{% static "product/css/style_add.css" %}">
</head>
<body>
	<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"><a href="{% url 'home' %}"> Store</a>
                </h1>
            </div>
        </div>
    </section>
	<div class="form-group Classform">
		<form method="post">
		    {% csrf_token %}
	  		<input type="text" id="title" name="title" placeholder="Enter the title"><br>
	  		<input type="text" id="price" name="price" placeholder="Enter the price"><br>
	  		<input type="text" id="description" name="description" placeholder="Enter product description"><br>
	  		<input type="text" id="category" name="category" placeholder="Enter the category"><br>
		    <input type="submit" value="Submit" /><br>
		</form>
	</div>
</body>
</html>