{% load static %} 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="{% static "product/css/style.css" %}">
</head>
<body>
   <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"><a href=""{% url 'home' %}""> Store</a>
                </h1>
            </div>
        </div>
    </section>
	<div class="container">
        <ul>
            <li><a href="{% url 'add' %}">Add a Product</a></li>
            <li><a href="{% url 'details' %}">All Product details</a></li>
            <li><a href="{% url 'product' %}">All product details in JSON format</a></li>
        </ul>
    </div>

</body>
</html>